.base-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .header {
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-family: "Open Sans", sans-serif;
      h2{
        font-size: 60px;
      }

      p{
          font-size: 20px;
          margin: 0px auto;
      }
    }
    .content {
      display: flex;
      flex-direction: column;
      .image {
        width: 30em;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .form {
        margin-top: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;

        .form-group {
          display: flex;
          align-items: flex-start;
          width: fit-content;

          label {
            font-size: 20px;
            color: #9C9C9C;
            min-width: 14em;
            height: 37px;
            margin-bottom: 2em;
          }
        }
        button{
          min-width: 18em;
        }
      }
    }

    .footer-menu {
      margin-top: 3em;
      align-items: center;
      justify-content: flex-start;
      min-width: 16em;
      height: 37px;

      &__p {
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0px;
        color: rgb(196, 196, 196);

      }
      &__link-icon {
        color: #2e3233;
        margin-bottom: 25px;
        font-size: 30px;
        font-weight: bold;
        text-decoration: none;
      }
  
    }
  }