.base-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .header {
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-family: "Open Sans", sans-serif;
      h2{
        font-size: 60px;
      }

      p{
          font-size: 20px;
          margin: 0px auto;
      }
    }
  
    .content {
      display: flex;
      flex-direction: column;
  
      .image {
        width: 30em;
        img {
          width: 100%;
          height: 100%;
        }
      }
  
      .form {
        margin-top: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
  
        .form-group {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          width: fit-content;
          label {
            font-size: 20px;
          }
          input {
            margin-top: 6px;
            min-width: 18em;
            padding: 0px 10px;
            font-size: 16px;
            font-family: "Open Sans", sans-serif;
            background-color: #f3f3f3;
            border: 0;
            border-radius: 4px;
            margin-bottom: 31px;
            transition: all 250ms ease-in-out;
            &:hover {
              
              box-shadow: 0px 0px 14px 0.3px #0e81ce96;
            }
  
            &:focus {
              outline: none;
              box-shadow: 0px 0px 12px 0.8px #3474dbb2;
            }
          }
        }
  
        button{
          min-width: 18em;
        }
      }
    }
  
    .footer {
      margin-top: 3em;
      align-items: center;
      justify-content: center;
  
      &__p {
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0px;
        color: rgb(196, 196, 196);
    
      }
  
      &__link {
        color: #2e3233;
        margin-bottom: 25px;
        font-weight: bold;
        text-decoration: none;
    
      }
  
    }
  }